---
layout: default
title: Projects
permalink: /projects/
---


<div class="row">
    <p>Below is a list of my personal projects. For work-related projects, please see my <a href="">CV</a>.</p>
    {% for project in site.projects %}
        <div class="project">
            <h2 class="project-title"><span class="project-name">{{ project.name }}</span>{% if project.languages %}<span class="project-languages"> / {{ project.languages }}</span>{% endif %}</h2>
            <p class="project-dates">{{ project.dates }}</p>
            <p class="project-details">{{ project.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            <p class="project-links">{% if project.links %}{% for link in project.links %}<a href="{{ link.url }}">{{ link.text }}</a>{% unless forloop.last %} | {% endunless %}{% endfor %}{% endif %}</p>
        </div>
    {% endfor %}
</div>