<header class="profile-card">
    <h1 class="profile-card-title">Kelvin Zhang</h1>
    <h2 class="profile-card-subtitle">Software Engineer</h2>
    <h2 class="profile-card-action"><a href="/assets/Kelvin%20Zhang%20-%20CV.pdf">CV (PDF)</a> | <a href="mailto:hello@iamkelv.in">hello@iamkelv.in</a></h2>
</header>
<nav>
    <ul>
        <li><a href="{{ "/" }}">Home</a></li>
        <li><a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a></li>
        <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
    </ul>
</nav>
